/* ========================
	Styling Variables
   ======================== */

:root {
    --background-light-color: #F2F2F2;
    --text-light-color: #0D0A0B;
    --primary-light-color: #454955;
    --secondary-light-color: #6B8F71;
    --accent-light-color: #DB2B39;

    --background-dark-color: #0D0A0B;
    --text-dark-color: #F2F2F2;
    --primary-dark-color: #454955;
    --secondary-dark-color: #020302;
    --accent-dark-color: #F1AEB4;

    --error-color: #EA2B1F;
    --success-color: #2A7221;

    --main-width: 40rem;
    --header-landscape-width: 20rem;
}

/* ========================
	General Layout
   ======================== */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    display: block;
    background-color: var(--background-light-color);
}

body, footer {
    font-family: 'Ubuntu', sans-serif;
}

#interactive-area {
    display: flex;
    flex-direction: column;
    user-select: none;
    text-align: center;

    width: var(--main-width);

    margin: 0 auto;

    color: var(--text-light-color);
    font-size: 1.125rem; /* 18px */
}

h1 {
    font-weight: bold;
}

h4 {
    font-size: 0.875rem; /* 14px */
    font-weight: bold;
}

hr {
    width: var(--main-width);
    border-color: var(--text-light-color);
}

button {
    color: var(--text-light-color);
    font-size: 1.125rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: var(--text-light-color);
    font-size: 0.875rem;
}

@media (orientation: portrait) {

    /* ========================
        Top Navigation Bar
    ======================== */

    .header {
        width: inherit;
        height: 4em;
        box-shadow: 0.0625em 0.0625em 0.25em 0 rgba(0,0,0,.1);
        z-index: 3;
    }

    .header img {
        display: block;
        float: left;
        width: 4em;
    }

    /* ========================================
        Hamburger Menu - Static Properties
    ======================================== */

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: var(--background-light-color)
    }

    .header li button {
        display: block;
        margin: 0 auto;
        padding: 0.625em;
        font-size: 1.77778em;
        border: none;
    }

    .header li button:hover {
        text-decoration: underline;
    }

    .header li button:active {
        color: var(--accent-light-color);
    }

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* ================================================
        Hamburger Menu - Hamburger Icon Properties
    ================================================ */

    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 1.75em 1.25em;
        position: relative;
    }

    .header .menu-icon .navicon {
        background: var(--text-light-color);
        display: block;
        height: 0.25em;
        position: relative;
        transition: background .2s ease-out;
        width: 2em;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: var(--text-light-color);
        content: '';
        display: block;
        height: 90%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 0.8em;
    }

    .header .menu-icon .navicon:after {
        top: -0.8em;
    }

    /* ====================================================
        Hamburger Menu - Icon & Menu Animation Properties
    ==================================================== */

    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: 40rem;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

}

@media (orientation: landscape) {
    #interactive-area {
        flex-direction: row;
        justify-content: space-around;
    }

    header {
        width: var(--header-landscape-width);
    }

    #tab-menu {
        width: inherit;
        top: 0;
        position: sticky;
    }

    #tab-menu button {
        width: 95%;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 auto;
        padding: 1em 0.5em;
        border: none;
    }

    #tab-menu button:hover {
        text-decoration: underline;
    }

    #tab-menu button:active {
        color: var(--accent-light-color);
    }

    section {
        width: var(--main-width);
    }

    #menu-btn {
        display: none;
    }

    footer {
        width: calc(var(--header-landscape-width) + var(--main-width));
        margin: 0 auto;
    }

    footer hr {
        width: inherit;
    }
}

/* ============================
	Both Menus - Button States
   ============================ */

#tab-btn-logout {
    display: none;
}

/* ========================
    General Tab Formatting
   ========================*/

.tabcontent {
    display: none;
}

/* ========
    Fields
   ======== */

.entry-field, #sj-field {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
}

.entry-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--main-width);
}

input {
    width: 12.5rem;

    background-color: var(--background-light-color);
    color: var(--text-light-color);
    font-size: 100%;
}

.date-field, .odo-field {
    font-size: 100%;
}

#sj-field {
    width: 25rem;
    padding: 0.5556em 0;
}

/* ========================
    Weekly Check Buttons
   ======================== */

#weeklies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.weekly-job {
    flex: 1 1 auto;
    font-weight: bold;
    padding: 1.6667em 0;
    border: 1px solid var(--text-light-color);
}

@media (max-width: 480px) {
    .weekly-job {
        width: var(--main-width);
        font-size: 2rem;
        padding: 0.5em;
    }
}

@media (min-width: 481px) {
    .weekly-job {
        font-size: 1.5rem;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

/* ============
	Buttons
   ============ */

#sj-btn, #submit-btn {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    background-color: var(--secondary-light-color);
    border: none;
    border-radius: 0.28em;
}

#sj-btn:hover, #submit-btn:hover {
    color: var(--background-light-color) /* Come back to this later, do not use a border! */
}

#sj-btn:active, #submit-btn:active {
    background-color: var(--accent-light-color);
}

#sj-btn {
    font-size: 1.5rem;
    padding: 1em 0.5em;
}

#submit-btn {
    width: var(--main-width);
    font-size: 2.5rem;
    padding: 0.5em 0;
}

.hist-list button {
    background-color: var(--accent-light-color);
    color: var(--background-light-color);
    border: none;
    border-radius: 0.28em;
    font-weight: bold;
    padding: 0 1.111em;
}

/* ================
	Record Lists
   ================ */

#jobs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.service-job {
    flex: 1 1 auto;
    border: 1px solid var(--text-light-color);
    box-shadow: 0 0.0625em 0.25em var(--text-light-color);
}

/* #hist-headers, .hist-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--main-width);
    text-align: center;
    padding: 0.28em;
} */

#hist-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 3.5em;

    font-size: 0.875rem;
    
    width: inherit;
}

#hist-area button {
    background-color: var(--accent-light-color);
    color: var(--background-light-color);

    width: 40%;

    margin: 0.1em auto;

    border: none;
    border-radius: 0.33em;
}

#tab-car-stats p, #tab-about-app p {
    width: var(--main-width);
    /* Temporary - Spaces content out correctly for Landscape */
}

#tab-blank p {
    color: var(--background-light-color);
    width: var(--main-width);
}

@media (max-width: 480px) {
    .service-job {
        width: var(--main-width);
        font-size: 2rem;
        padding: 0.5em;
    }
}

@media (min-width: 481px) {
    .service-job {
        font-size: 1.5rem;
        padding: 1em 0.5em;
    }
}

/* #hist-headers {
    
} */

.hist-list {
    font-size: 0.875rem;
}

/* ========
	Modals
   ======== */

#modal-container { /* Container to allow travel across page for modals */
    position: absolute;

    height: 100%;
}

.modal {
    display: none;
    flex-direction: column;

    position: sticky;
    top: 20vh;
    left: auto;
    z-index: 4;

    width: 37.5rem;

    padding: 1.111em;
    border-radius: 1.111em;

    background-color: var(--background-light-color);

    box-shadow: 0 0.0625em 0.625em var(--text-light-color);

    animation: modal-fadein 500ms;
}

@keyframes modal-fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal .close-btn {
    width: 2.5em;

    margin: 0;

    background-color: var(--accent-light-color);
    color: var(--background-light-color);

    font-size: 32px;
    font-weight: bold;

    border: none;
    border-radius: 1em;
}

.modal label, .modal input {
    display: block;

    width: 100%;

    margin: 0.28em auto;
}

#modal-account-switch-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
    height: 1.7778em;

    margin: 1.111em 0;

    align-items: center;
}

#modal-account-switch-line button {
    width: fit-content;
    height: 1.1667em;
    
    border: none;

    margin: 1em 0.111em 1em 0.333em;
    padding: 0;

    color: var(--accent-light-color);
    text-decoration: underline;
}

.modal button {
    width: 100%;

    margin-top: 0.75em;
    padding: 0.556em 0;
}

/* ====================
	Editing Borders
   ==================== */

/* body {
    border: 1px solid red;
} */
