/* Styling Variables */

:root {
    --primary-color: #f2f2f2;
    --secondary-color-1: #595959;
    --secondary-color-2: #a5a5a5;
    --tertiary-color-1: #7f7f7f;
    --tertiary-color-2: #cccccc;
}

/* General Layout */

html {
    background-color: var(--primary-color);
}

body, hr {
    width: 640px;
}

body, img {
    margin: 0 auto;
}

body, footer {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

body {
    flex-direction: column;
    user-select: none;
    text-align: center;
    padding: 25px;

    color: var(--secondary-color-1);
    font-size: 150%;
}

img {
    width: 160px;
}

hr {
    border-color: var(--secondary-color-1);
}

button {
    color: var(--secondary-color-1);
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    flex-direction: row;
    justify-content: space-around;
    color: var(--secondary-color-2)
}

/* Navbar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--secondary-color-2);
}

.navbar button {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--secondary-color-2);
    font-size: 100%;
    padding: 30px;
    border: none;
}

.navbar button:hover {
    background-color: var(--tertiary-color-2);
}

.tabcontent {
    display: none;
}

/* Fields */

.entry-field, #sj-field {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
}

.entry-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    width: 200px;

    background-color: var(--primary-color);
    color: var(--secondary-color-1);
    font-size: 100%;
}

.date-field, .odo-field {
    font-size: 100%;
}

#sj-field {
    width: 400px;
    padding: 10px 0;
}

/* Buttons */

#sj-btn, #submit-btn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
}

#sj-btn {
    padding: 30px 10px;
}

#submit-btn {
    width: 640px;
    padding: 30px 0;
}

/* Record Lists */

.service-job, .weekly-job {
    margin: 10px;
    border: 1px solid var(--secondary-color-1);
    padding: 30px 0;
}

#hist-headers, .hist-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
}

.service-job {
    box-shadow: 0px 1px 4px var(--secondary-color-1);
}

/* #hist-headers {
    
} */

.hist-list {
    font-size: 90%;
}

/* Editing Borders */

/* body {
    border: 1px solid red;
} */